# compiled output
/dist
/node_modules

# logs
/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# env files (keep .env.example)
.env
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store

# tests
/coverage
/.nyc_output

# temp
tmp
temp
